﻿@{
    ViewBag.Title = "Home Page";
}
<script src="//code.jquery.com/jquery-2.1.1.min.js" type="text/javascript"></script>

<form action="~/Home/ShortLink" method="post">
    <div class="table-responsive">
        <table class="table table-hover">
            <tr>
                <th><p>Enter your link</p></th>
                <th><input type="text" placeholder="original link" name="inputLink" /></th>
                <th><input type="submit" value="Shorten link" /></th>
            </tr>
        </table>
    </div>

</form>

<div class="table-responsive">
    <table class="table table-hover">
        <tr>
            <th>Original Link</th>
            <th>Short Link</th>
            <th>Click</th>
        </tr>
        @foreach (var link in @Model)
        {
            <tr>
                <td>@link.fullLink</td>
                <td><p class="linky">@Html.ActionLink((string)@link.shortLink, "IncrementClickCountForSelectedId", new { @id = @link.id}, new { target="_blank"})</td>
                <td>@link.clickCount</td>
            </tr>
        }

    </table>
</div>
<script type="text/javascript">
    $('.linky').click(function () {

        setTimeout(function () {
            window.location.reload(1);
        }, 2000);
    });

</script>